<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BackendBaseURL</key>
    <string>http://107.148.21.15:5000</string>
    <key>BackendDescription</key>
    <string>YouTube Audio Download Server with yt-dlp Data API</string>
</dict>
</plist> 